################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Planting Partner/FileContentIndex
/.vs/Planting Partner/v17
/Planting Partner/bin/Debug
/Planting Partner/obj
/.vs/Planting Partner/DesignTimeBuild
/.vs
/Planting Partner/Planting Partner.csproj.user
/Planting Partner/Planting Partner.csproj.user
